html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  display: absolute;
  width: 100vw;
  height: 100vh;
}

a {
  color: rgb(201, 23, 23);
}

.bottom-right {
  position: absolute;
  text-align: center;
  bottom: 0;
  right: 0;
  margin: 5px;
  margin-right: 10px;
}